.links line {
	stroke: #999;
	stroke-width: 2px;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

#sidebar {
	float: right;
	max-width: 50%
}

div.nodeinfo {
	column-count: 2;
	column-gap: 0.5em;
}
